* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  background-color: #0a1217;
}
body:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(#0f689cbf, #0e0e0e);
  clip-path: circle(20% at 30% 20%);
  height: 100%;
  width: 100%;
}
body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(#000000, #c8cccb);
  clip-path: circle(20% at 70% 90%);
  height: 100%;
  width: 100%;
}
.container {
  position: relative;
  background: rgba(255, 255, 255, 0.05);
  overflow: hidden;
  z-index: 10;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  backdrop-filter: blur(15px);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}
.container .calculator {
  position: relative;
  display: grid;
}
.container .calculator .value {
  outline: none;
  color: #fff;
  font-size: 30px;
  text-align: right;
  background: transparent;
  grid-column: span 4;
  height: 140px;
  width: 300px;
  border: none;
  padding: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  border-right: 1px solid rgba(255, 255, 255, 0.05);
}
.container .calculator span {
  display: grid;
  place-items: center;
  height: 75px;
  width: 75px;
  cursor: pointer;
  color: #fff;
  font-weight: 400;
  user-select: none;
  font-size: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  border-right: 1px solid rgba(255, 255, 255, 0.05);
}
.container .calculator span:hover {
  transition: 0s;
  background: rgba(255, 255, 255, 0.05);
}
.container .calculator span:active {
  background-color: #0b3bd8;
  color: #192f00;
  font-size: 24px;
  font-weight: 500;
}
.container .calculator .clear {
  grid-column: span 2;
  width: 150px;
  background: rgba(255, 255, 255, 0.05);
}
.container .calculator .plus {
  grid-row: span 2;
  height: 150px;
}
.equal {
  background: rgba(255, 255, 255, 0.05);
}
